.plan {
    font-size: 23px;
    margin-bottom: 3px;
}

.change {
    font-size: 21px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.texto-start {
    font-size: 20px;
    font-weight: 400;
}

.texto-end {
    font-size: 20px;
    font-weight: 400;
}

.contenedor-data-info {
    width: 90%;
    margin: 50px auto 0 auto;
}

.sub-contenedor-data-info {
    width: 90%;
    margin: 0 auto 0 auto;
}

.sub-contenedor-data-info.uno {
    width: 90%;
    margin: 50px auto 0 auto;
}

.contenedor-total {
    margin-top: 50px;
}

.texto-total {
    color: #483EFF;
    font-size: 25px;
    font-weight: bold;
}


@media (max-width:650px) {
    .plan {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .sub-contenedor-data-info.uno {
        width: 90%;
        margin: 10px auto 0 auto;
    }

    .texto-start {
        font-size: 16px;
        font-weight: 400;
    }

    .texto-end {
        font-size: 18px;
        font-weight: 400;
    }

    .texto-total {
        color: #483EFF;
        font-size: 22px;
        font-weight: bold;
    }

        .contenedor-total {
            margin-top: 30px;
        }
}